@import "@/styles/sass/colors"

.input
  padding-right: 42px

.btn-icon
  border: 0
  margin: 0
  padding: 0
  z-index: 3
  right: 12px
  bottom: 10px
  cursor: pointer
  position: absolute
  background-color: transparent
  transition: transform 100ms ease-in-out

  &:active
    transform: scale(0.95)

.icon
  width: 18px
  height: 18px
  display: block
  fill: var(--text-secondary, $grey)
