@import "@/styles/sass/colors"

.input
  padding-right: 42px

.btn-icon
  top: 50%
  right: 0
  border: 0
  margin: 0
  z-index: 3
  padding: 8px
  cursor: pointer
  position: absolute
  transform: translateY(-50%)
  background-color: transparent
  transition: transform 100ms ease-in-out

  &:active
    transform: translateY(-50%) scale(0.95)

  &:disabled
    pointer-events: none

.icon
  width: 18px
  height: 18px
  display: block
  fill: var(--text-secondary, $grey)
