@import "@/styles/sass/colors"

// Default properties
.typography
  color: inherit
  font-size: 16px

/* --- Colors --- */
.primary
  color: $white

.secondary
  color: $light-grey

.red
  color: $lightest-red
/* --- End of colors --- */

/* --- Sizes --- */
.inherit
  font-size: inherit

.small
  font-size: 14px

.medium
  font-size: 24px

.large
  font-size: 32px
/* --- End of sizes --- */
