@import "@/styles/sass/colors"
@import "@/styles/sass/mixins"

$label-placement: "top" column-reverse, "bottom" column, "left" row-reverse, "right" row

@mixin placement
  @each $placement, $direction in $label-placement
    .label-placement-#{$placement}
      flex-direction: $direction

.radio, .label
  vertical-align: middle

.radio
  display: inline-block
  // Calling mixins
  +placement

  &.disabled
    .label
      cursor: not-allowed

    .label-text
      color: $light-grey

.label
  cursor: pointer
  align-items: center
  display: inline-flex

.label-text
  margin: 0 6px

.input-wrapper
  position: relative

.input-radio
  margin: 0
  padding: 0
  opacity: 0
  width: 100%
  height: 100%
  cursor: inherit
  position: absolute
  box-sizing: border-box

  &:checked + .marker:before
    top: 50%
    left: 50%
    content: ""
    width: 12px
    height: 12px
    position: absolute
    border-radius: 50%
    transform: translate(-50%, -50%)
    background-color: $color--emerald

.marker
  width: 20px
  height: 20px
  flex-shrink: 0
  display: block
  position: relative
  border-radius: 50%
  border-width: 2px
  border-style: solid
  box-sizing: border-box
  border-color: var(--bg-tertiary, $lightest-grey-secondary)
