@import "@/styles/sass/colors"

.app
  padding: 20px
  display: block
  min-height: 100vh

.tooltip, .switch, .counter, .timestamp
  display: block
  margin: 8px 0

.flex
  gap: 10px
  margin: 8px 0
  display: flex
