@import "@/styles/sass/colors"

.app
  padding: 20px
  display: block
  min-height: 100vh

.timestamp
  margin-left: 8px

.tooltip, .switch, .counter
  display: block
  margin: 8px 0

.fields
  gap: 10px
  margin: 8px 0
  display: flex
